
<h1 class="page-header">Categorias</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    Listando as categorias do usuário
    <%= link_to new_site_expense_type_path, class: "btn btn-success pull-right", style: "margin-top: -6px" do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Membro</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @expense_types.each do |expense_type| %>
          <tr>
            <td><%= expense_type.kind_transaction %></td>
            <td><%= expense_type.description %></td>
            <td><%= expense_type.member.email %></td>
            <td>
              <%= link_to edit_site_expense_type_path(expense_type), class: "btn btn-primary btn-circle" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to site_expense_type_path(expense_type.id), method: :delete, class: "btn btn-danger btn-circle", 
                data: {confirm: "Você deseja realmente excluir (#{expense_type.description})?"} do %>
                <i class="fa fa-minus"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  </div><!-- /.panel-body -->
</div>
