<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kind_transaction_id %><br>
    <%= collection_select(:transaction, :kind_transaction_id, @kind_options_for_select, :id, :description) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= collection_select(:transaction, :category_id, @category_options_for_select, :id, :description) %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= collection_select(:transaction, :account_id, @account_options_for_select, :id, :description) %>
  </div>
  <div class="field">
    <%= f.label :paid %><br>
    <%= f.check_box :paid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
