<!DOCTYPE html>
<html>
<head>
  <title>BillsPaid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'backoofice', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'backoofice', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Layout Backoofice</h1>
<%= link_to "Home", site_home_index_path %>
<%= yield %>

</body>
</html>
